.pagination span {
width: 2rem;
height: 2rem;
padding: 5px;
border-radius: 50px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid var(--secondary-color);
color: var(--heading-color);
font-size: 1.1rem;
cursor: pointer;
font-weight: 700;
}

.active__page {
 background: var(--secondary-color);
 color: white !important;
}

.loading-spinner {
    border: 8px solid #f3f3f3; /* Light gray border */
    border-top: 8px solid #3498db; /* Blue border (adjust color as needed) */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* Rotate animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }